<header>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</header>


<div class="container">
	<div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
              <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label>
              <input type="text" class="form-control input-sm" placeholder="Search..." name="search" [(ngModel)]="search">
          </div><!-- form group [search] -->
          <div class="form-group">
              <label class="filter-col" style="margin-right:10;" for="pref-orderby">Order by:</label>
              <select id="pref-orderby" class="form-control">
                  <option>Descendent</option>
              </select>                                
          </div> <!-- form group [order by] --> 
          <div class="form-group">    
            <button type="submit" class="btn btn-default filter-col" (click)="affiche()">
              <span class="glyphicon glyphicon-record"></span> Search
            </button>  
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<input class="search" type="text" placeholder="Search..." name="search" [(ngModel)]="search">
<p>Cherchez par nom d'auteur</p>
<button type="submit" class="fa fa-search" (click)="affiche()">Search</button>

<p *ngFor="let product of productsFiltered">
  {{ product.price }} - {{ product.productName }} - {{ product.description }}
</p>