<header>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</header>


<div class="container">
	<div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
              <label class="filter-col" style="margin-right:0;" for="pref-search">Nom du produit:</label>
              <input (keyup)="applyFilters()" type="text" class="form-control input-sm" placeholder="Search..." name="filterInputs.productName" [(ngModel)]="filterInputs.productName">
          </div>
          <div class="form-group">
              <label class="filter-col" style="margin-right:0;" for="pref-search">Prix minimum:</label>
              <input (keyup)="applyFilters()" type="text" class="form-control input-sm" placeholder="€" name="filterInputs.minPrice" [(ngModel)]="filterInputs.minPrice">
          </div>
          <div class="form-group">
              <label class="filter-col" style="margin-right:0;" for="pref-search">Prix maximum:</label>
              <input (keyup)="applyFilters()" type="text" class="form-control input-sm" placeholder="€" name="filterInputs.maxPrice" [(ngModel)]="filterInputs.maxPrice">
          </div>
          <div class="form-group">    
            <button type="submit" class="btn btn-default filter-col" (click)="applyFilters()">
              <span class="glyphicon glyphicon-record"></span> Search
            </button>  
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<table class="table table-striped" *ngIf="productsFiltered$ | async">
    <tr>
        <th>Nom du produit</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Aperçu</th>
    </tr>
    <tbody>
    <tr *ngFor="let product of productsFiltered$ | async">
        <td>{{ product.productName }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}€</td>
        <td><img src="https://p0.pikist.com/photos/476/352/teddy-bank-sit-teddy-bear-bear-fun-plush-funny-cute.jpg" alt=""
          width="150" height="125" ></td>
    </tr>
    </tbody>
</table>